.imgScroll {
    display: flex;
    overflow-x: auto;
}
.imgScroll::-webkit-scrollbar {
    display: none;
}
.imgContainer {
    width: calc((208px + 10px) * 10);
    display: flex;
    column-gap: 15px;
    padding-top: 4%;
}
.imgDiv {
    width: 220px;
    height: 220px;
    border-style: dotted;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    color: var(--gray-500);
}
.imgDiv > .imageURL {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgDiv:last-child {
    margin-right: 3%;
}

.imgContainer input[type="file"] {
    display: none;
}