.textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.textContainer > p {
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.2rem;
    color: var(--green);
}

.GoodSee {
    display: flex;
    column-gap: 10px;

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.1rem;
    color: var(--gray-500);
}

.place {
    display: flex;
    column-gap: 10px;

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.1rem;
}
.place > p:nth-child(1) {
    color: var(--gray-500);
}