.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.container::-webkit-scrollbar {
    display: none;
}

.allContainer {
    display: flex;
    flex-direction: column;
    left: 15vw;
    margin-top: 3%;
    margin-bottom: 20%;
}

.topContainer {
    display: flex;
    column-gap: 7%;
}

.container1 {
    width: 40vw;
    height: auto;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contextDiv {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-color: var(--gray-300);
}
.contextDiv > hr {
    border: 0;
    height: 1px;
    background: var(--gray-300);
}
.contextDiv > p:nth-child(1) { /* title */
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 2rem;
}
.contextDiv > pre { /* context */
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 17px;
    color: var(--gray-800);
}

.priceDiv {
    display: flex;
    flex-direction: column;
}
.priceDiv > p { /* 희망 거래 가격 */
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    color: var(--gray-300);
}
.price {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.price > p:nth-child(1) { /* price */
    font-family: var(--LaundryGothic-font);
    font-weight: var(--Regular);
    font-size: 2.7rem;
}
.price > p:nth-child(2) { /* 원 이하 */
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 1.8rem;
}

.container2 {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
}

.information {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.particButton,
.selectButton,
.disabledButton {
    width: 16vw;
    height: 7.5vh;
}
.particButton > button {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    background-color: var(--bg);
    cursor: pointer;

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.1rem;
}

.selectButton > button {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    background-color: var(--bg);
    cursor: pointer;

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.1rem;
}
.disabledButton > button{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    background-color: var(--gray-100);

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.1rem;
    color: black;
}

.hr {
    width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-color: var(--gray-300);
    margin-top: 2%;
    margin-bottom: 1%;
}

.bottomContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bottomContainer > p {
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    color: var(--gray-200);
}

.commentContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15%;
    left: 7%;
}