.topDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.topDiv > p {
    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
    color: var(--gray-300);
}

.imgScroll {
    display: flex;
    overflow-x: auto;
}
.imgScroll::-webkit-scrollbar {
    width: 0;
}
.imgContainer {
    width: calc((35vw + 10px) * 10);
    display: flex;
    column-gap: 15px;
    padding-top: 4%;
}
.imgDiv {
    width: 35vw;
    height: 13vh;
    background-color: var(--gray-100);
    border: 0;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgDiv > .imageURL {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.imgDiv:last-child {
    margin-right: 3%;
}
.pDiv {
    display: flex;
    column-gap: 2px;
    color: var(--gray-500);
}

.inputContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.textDiv:first-child {
    margin-top: 3%;
}
.textDiv {
    width: 90vw;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.textDiv > p {
    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
    color: var(--gray-300);
}
.textDiv > input {
    padding: 4%;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--gray-300);
    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
}
.textDiv > input::placeholder {
    color: var(--gray-500);
}

.contextDiv {
    width: 90vw;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.contextDiv > p {
    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
    color: var(--gray-300);
}
.contextDiv > input {
    height: auto;
    min-height: 15vh;
    padding: 4%;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--gray-300);
    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
}
.contextDiv > input::placeholder {
    color: var(--gray-500);
}

.buttonContainer {
    position: relative;
    width: 90vw;
    height: auto;
    display: flex;
    margin-top: 10%;
    margin-bottom: 15%;
}
.buttonStyle {
    width: 100%;
    height: 7vh;
    background-color: var(--bg);
    border: 0;
    border-radius: 6px;
    font-size: 1rem;
}