.container {
    position: absolute;
    top: 20%;
    left: 5%;
}

/* 타이틀 */
.titleContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15%;
}

p, h3 {
    margin: 0;
}

.titleP {
    font-size: 1.1rem;
}

.titleH3 {
    font-size: 2.1rem;
}

/* 이메일, 비밀번호 입력란 */
.formContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
    align-items: center;
}

/* 버튼 스타일 */
.buttonContainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    border-color: #D2D2D2;
    border-radius: 6px;
    background-color: transparent;
    margin-bottom: 4%;
    column-gap: 10px;
}