.container {
    display: flex;
    flex-direction: column;
}

/* 타이틀 */
.titleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    justify-content: center;
    left: 6%;
    margin-top: 40%;
}

p, h3 {
    margin: 0;
}

.titleP {
    font-size: 1.1rem;
}

.titleH3 {
    font-size: 2.1rem;
}

/* 이메일, 비밀번호 입력란 */
.formContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.textStyle {
    font-size: 0.7rem;
    margin-bottom: 2%;
    color: var(--gray-300);
    /* SUIT Medium 폰트 추가 */
}

.inputStyles {
    width: 80vw;
    height: auto;
    padding: 15px;
    font-size: 0.8rem;
    border-color: var(--gray-300);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    /* SUIT Medium 폰트 추가 */
}

/* 버튼 스타일 */
.buttonContainer {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    background-color: transparent;
    column-gap: 10px;
    font-size: 1rem;
    border-color: var(--gray-300);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

.buttonStyles {
    height: 7vh;
    background-color: var(--bg);
    border: 0;
    border-radius: 6px;
    font-size: 1rem;
}

.miniTextStyles {
    display: flex;
    color: var(--gray-700);
    column-gap: 6px;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}