.topContainer {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: auto;
    background-color: #fff;
    padding: 10px;
}

.menuBarIconDiv {
    display: flex;
    align-items: baseline;
    column-gap: 40px;
}

.iconDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
}

.iconDiv > p {
    font-size: 0.8rem;
}

.iconStyles {
    font-size: 1.7rem;
}

.bigIconStyles {
    font-size: 1.4rem;
}

.smallIconStyles {
    font-size: 1.9rem;
}

/* 아이콘 클릭 시 색상 변경 */
.activeIcon {
    color: var(--bg);
}