.buyingSelectDiv {
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 5%;
}

.sellingSelectDiv {
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 5%;
}

.div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.div > div {
    width: 2vw;
    height: 4vh;
    display: flex;
    border-radius: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: var(--LaundryGothic-font);
    font-weight: var(--Regular);
    color: var(--gray-300);
}

.selected {
    background-color: var(--bg);
}
.selected > p {
    color: white;
}