.buyingSelectDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.sellingSelectDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.searchSelectDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.div > div {
    height: 40px;
    width: 40px;
    display: flex;
    border-radius: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: var(--LaundryGothic-font);
    font-weight: var(--Regular);
    color: var(--gray-300);
}

.selected {
    background-color: var(--bg);
}
.selected > p {
    color: white;
}