/* 검색 창 스타일 */
.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 35vw;
    height: auto;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    background-color: var(--gray-100);

    font-family: var(--SUIT-font);
    font-weight: var(--Light);
}

.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    color: var(--gray-300);
}