/* 검색 창 스타일 */
.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 35vw;
    height: 2vh;
    padding: 2%;
    border: 0;
    border-radius: 10px;
    background-color: var(--gray-100);

    font-family: var(--SUIT-font);
    font-weight: var(--Light);
}
 
.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    font-size: 1rem;
    color: var(--gray-300);
}