/* 피그마 폰트 가지고 오기 */

/* 로그인, 회원가입 스타일 */
.textStyles {
    font-size: 0.7rem;
    margin-bottom: 2%;
    color: #D2D2D2;
    /* SUIT Medium 폰트 추가 */
}

.inputStyles {
    width: 80vw;
    height: auto;
    border-color: #D2D2D2;
    border-radius: 6px;
    padding: 15px;
    font-size: 0.8rem;
    /* SUIT Medium 폰트 추가 */
}

.buttonStyles {
    height: 6vh;
    background-color: #FFD53A;
    border: 0;
    border-radius: 6px;
}

.miniTextStyles {
    display: flex;
    color: #727272;
    column-gap: 6px;
    font-size: 0.9rem;
    justify-content: center;
}