/* 피그마 폰트 가지고 오기 */

:root {
    --bg: #FFD53A;
    --gray-100: #F6F6F6;
    --gray-300: #D2D2D2;
    --gray-500: #ABABAB;
    --gray-700: #727272;
    --green: #40C646;
}

* {
    position: relative;
    margin: 0;
}