.BoxContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
    border-radius: 20px;
    border-color: var(--gray-200);
    border-style: solid;
    border-width: 1px;
    background-color: white;
    column-gap: 40px;
    row-gap: 20px;
    margin-bottom: 5%;
    cursor: pointer;
}

.topDiv {
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
}
.topDiv > p { /* 경매중 */
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    color: var(--green);
}
.topLeftDiv {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.topLeftDiv > .imgDiv { 
    width: 42px;
    height: 42px;
}
.topLeftDiv > .imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.topLeftDiv p {
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
}
.topLeftDiv p:nth-child(2) {
    font-size: 0.9rem;
    color: var(--gray-200);
}

.middleDiv {
    width: 100%;
    display: flex;
}

.context {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.context > p:nth-child(1) {
    font-family: var(--SUIT-font);
    font-weight: var(--Bold);
    font-size: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 .context > p:nth-child(2) {
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 17px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.moneyDiv {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.moneyDiv > p:nth-child(1) {
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 0.8rem;
    color: var(--gray-200);
}
.moneyDiv > p:nth-child(2) {
    font-family: var(--SUIT-font);
    font-weight: var(--ExtraBold);
    font-size: 1.2rem;
}

.iconDiv {
    display: flex;
    column-gap: 7px;
}
.iconDiv > .eyesVectorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);
    column-gap: 5px;

    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
}