.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.container::-webkit-scrollbar {
    display: none;
}

.recentlySeenSellDiv,
.recentlySellDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}
.recentlyBuyDiv {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.sellTextDiv,
.buyTextDiv {
    display: flex;

}
.sellTextDiv > p,
.buyTextDiv > p {
    color: var(--gray-900);
    margin-bottom: 1%;

    font-family: var(--LaundryGothic-font);
    font-weight: var(--Regular);
    font-size: 1.2rem;
}

.sellContainer,
.buyContainer {
    display: flex;
    align-items: center;
}

.sellMoreDiv {
    width: 3vw;
    display: flex;
    align-items: center;
    top: 20%;
    left: 40%;
    cursor: pointer;
    color: var(--gray-400);
}
.buyMoreDiv {
    width: 3vw;
    display: flex;
    align-items: center;
    top: 35%;
    left: 40%;
    cursor: pointer;
    color: var(--gray-400);
}