.divContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
}

.DivStyle {
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 1.1rem;
}

/* 사용자님이 최근 본 글 */
.lookContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 220%;
    left: 3%;
    row-gap: 10px;
}

.lookUserP {
    font-size: 1.2rem;
}

.boxContainer {
    width: 40vw;
    height: 25vh;
    padding: 7%;
    border-radius: 10px;
    border-color: var(--gray-100);
    border-style: solid;
    border-width: 3px;
    /* background-color: var(--gray-100); */ /* 판매완료 되었을 시 */
}

.boxContainer h2 {
    top: 3%;
    /* color: var(--gray-700); */ /* 판매완료 */
}

 /* .boxContainer h4 => color: var(--gray-700); */ /* 판매완료 */

.textContainer {
    display: flex;
    flex-direction: column;
    top: 2%;
}

.textContainer p {
    color: var(--green);
    /* color: var(--gray-300); */ /* 판매완료 */
}

.lookImgStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vh;
    overflow: hidden;
}

.lookImgStyle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* 따끈따끈 최신 글 */
.newContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    row-gap: 10px;
}

.newBoxContainer {
    display: flex;
    flex-direction: row;
    width: 87vw;
    height: 10vh;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    border-radius: 10px;
    border-color: var(--gray-100);
    border-style: solid;
    border-width: 3px;
}

.newLookImgStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27vw;
    height: 100%;
    overflow: hidden;
}

.newLookImgStyle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.newTextContainer {
    display: flex;
    row-gap: 3px;
    flex-direction: column;
    left: 5%;
}

.newTextContainer p {
    color: var(--bg);
    /* color: var(--gray-500); */ /* 판매중 */
}
