.buyTextDiv {
    display: flex;
}

.buyTextDiv > p {
    color: var(--gray-900);
    margin-bottom: 1%;

    font-family: var(--LaundryGothic-font);
    font-weight: var(--Regular);
    font-size: 1.2rem;
}

.buyContainer {
    display: flex;
    align-items: center;
}

.buyMoreDiv {
    width: 3vw;
    display: flex;
    align-items: center;
    top: 35%;
    left: 40%;
    cursor: pointer;
    color: var(--gray-400);
}