.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.container > hr {
    border: 0;
    height: 1px;
    background: var(--gray-100);
}

.chatting-box{
    height: 25vw;
    width: 100%;
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: auto;
}
.chatting-box::-webkit-scrollbar {
    display: none;
}

.input-box {
    width: 100%;
}