.container {
    width: 17vw;
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;

}

.img {
    width: 42px;
    height: 42px;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.textDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textDiv > p:nth-child(1) {
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
}
.textDiv > p:nth-child(2) {
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 0.8rem;
    color: var(--gray-300);
}