.topContainer {
    display: flex;
    flex-direction: column;
}

.container {
    width: 17vw;
    height: 9vh;
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
}
.clickedContainer {
    width: 17vw;
    height: 9vh;
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--gray-100);
    padding-left: 5%;
    cursor: pointer;
}