.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    left: 15vw;
    margin-top: 2%;
}

.sortTextDiv {
    display: flex;
    column-gap: 25px;
    margin-bottom: 1%;
}

.buying-post-item-list {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 100%;
    display: flex;
    align-items: flex-end;
}