.middleDiv {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 5%;
}
.middleDiv > p {
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 22px;
    color: var(--green);
}

.checkDiv {
    display: flex;
    column-gap: 30px;

    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 18px;
    color: var(--gray-500);
}

.placeDiv {
    display: flex;
    align-items: center;
    column-gap: 20px;

    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
}
.placeDiv > p:nth-child(1) {
    color: var(--gray-500);
    font-size: 18px;
}
.placeDiv > p:nth-child(2) {
    font-size: 20px;
}