.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.container::-webkit-scrollbar {
    display: none;
}

.topContainer {
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 15vw;
    margin-bottom: 10%;
}
.topDiv {
    display: flex;
    column-gap: 9%;
    margin-bottom: 5%;
}

.imgDiv {
    width: 25vw;
    height: 55vh;
}
.imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sellInformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 3%;
}
.titleDiv > p:nth-child(1) {
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 2.3rem;
}

.moneyDiv {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.moneyDiv > p:nth-child(1) {
    font-family: var(--LaundryGothic-font);
    font-weight: var(--Regular);
    font-size: 2.5rem;
}
.moneyDiv > p:nth-child(2) {
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 1.7rem;
}

.buttonDiv {
    display: flex;
    column-gap: 20px;
}
.buttonDiv button {
    height: 8.5vh;
    border: 0;
    border-radius: 10px;
}
.chattingButton {
    width: 22vw;
    background-color: var(--bg);
    cursor: pointer;

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.3rem;
}
.heartButton {
    width: 10vw;
    background-color: var(--primary-200);
    cursor: pointer;

    color: var(--primary-500);
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.3rem;
}
.updateButton {
    width: 32vw;
    background-color: var(--bg);
    cursor: pointer;

    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
    font-size: 1.3rem;
}

.hrDiv {
    width: 68%;
    display: flex;
}

.contextContainer {
    width: 68%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    top: 3%;
    margin-bottom: 3%;
}
.contextContainer > p {
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    color: var(--gray-200);
    font-size: 1.3rem;
}

.informationDiv {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2%;
    overflow-y: auto;
}
.informationDiv::-webkit-scrollbar {
    display: none;
}
.informationDiv > p {
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 1.1rem;
}

.userContainer {
    display: flex;
    margin-top: 3%;
}
.userDiv {
    display: flex;
    column-gap: 20px;
    align-items: center;
}