.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    left: 15vw;
    margin-top: 2%;
}

.sortTextDiv {
    display: flex;
    column-gap: 25px;
    margin-bottom: 1%;
}

.footer {
    position: absolute;
    width: 100%;
    height: 25%;
    display: flex;
    bottom: -15%;
}