.topContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    position: fixed;
}

.bottomContainer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100);
    padding-top: 5%;
    align-items: center;
}
.auctionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer {
    position: fixed;
    height: auto;
    display: flex;
    top: 90%;
}
.buttonStyle {
    width: 90vw;
    height: 7vh;
    background-color: var(--bg);
    border: 0;
    border-radius: 6px;
    font-size: 1rem;
}