/* /component/selling-Item/sellPostItemList.js */
.sell-grid-container,
.selling-grid-container {
    width: calc((14vw + 35px) * 4);
    display: grid;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5.1%;
    row-gap: 5%;
    margin-bottom: 5%;
}
.sell-grid-container {
    grid-template-columns: repeat(4, 1fr);
}

/* /component/selling-Item/sellingPostItemList.js */
.selling-grid-container {
    grid: repeat(4,1fr) / repeat(4,1fr);
}

.grid-item {
    width: 14vw;
    height: 32vh;
}