.all-grid-container {
    width: calc((14vw + 35px) * 4);
    display: grid;
    grid: repeat(4,1fr) / repeat(4,1fr);
    justify-content: flex-start;
    align-items: center;
    column-gap: 6%;
    row-gap: 6%;
}

.four-grid-container {
    width: calc((14vw + 35px) * 4);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    align-items: center;
    column-gap: 6%;
    row-gap: 5%;
}
.four-grid-container .grid-item:nth-child(n+5) {
    display: none;
}

.three-grid-container {
    width: calc((14vw + 35px) * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: center;
    column-gap: 6.5%;
    row-gap: 10%;
}

.grid-item {
    width: 14vw;
    height: 32vh;
}