/* /component/selling-Item/sellingPostItemList.js */
.selling-grid-container {
    width: calc((14vw + 35px) * 4);
    display: grid;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5.1%;
    row-gap: 5%;
}
.selling-grid-container {
    grid: repeat(4,1fr) / repeat(4,1fr);
}

.selling-grid-item {
    width: 14vw;
    height: 32vh;
}

.noMessage {
    font-size: 1.2rem;
}