/* /component/selling-Item/sellingPostItem.js (팝니다 글쓰기 item)*/
/* /component/selling-Item/sellPostItem.js (따끈따근 최신 팝니다 글 item) */
.boxContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 7%;
    border-radius: 10px;
    border-color: var(--gray-200);
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.lookImgStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5%;
}

.lookImgStyle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.contextContainer {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.textContainer {
    display: flex;
    row-gap: 3px;
    flex-direction: column;
}

.textContainer > p:nth-child(1) {
    color: var(--green); /* 판매중 */
    /* color: var(--gray-300); */ /* 판매완료 */
    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
    font-size: 0.9rem;
}
.textContainer > p:nth-child(2) {
    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
    font-size: 0.9rem;
}

.textContainer > p:nth-child(3) {
    font-family: var(--SUIT-font);
    font-weight: var(--ExtraBold);
}


/* 본 횟수, 찜 횟수 전체 Div */
.vectorDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    top: 10%;
}

/* 본 횟수, 찜 횟수 Div */
.eyesVectorDiv, .heartVectorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    color: var(--gray-300);

    font-family: var(--SUIT-font);
    font-weight: var(--Regular);
}

.heartVector {
    font-size: 0.9rem;
}