.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.divContainer {
    display: flex;
    left: 15vw;
    top: 10%;
    column-gap: 7%;
    margin-bottom: 30%;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profileInfo {
    display: flex;
}

.lists {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    row-gap: 20%;
}