.container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.selectorDiv1 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 5%;
}
.selectorDiv1 > p {
    color: #C0C0C0;

    font-size: 0.8rem;
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
}
.iconDiv {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.iconDiv > p {
    color: var(--gray-700);

    font-family: var(--SUIT-font);
    font-weight: var(--Medium);
}

.selectorDiv2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 3%;
    margin-bottom: 5%;
}
.selectorDiv2 > p {
    color: #C0C0C0;

    font-size: 0.8rem;
    font-family: var(--SUIT-font);
    font-weight: var(--SemiBold);
}